@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: white;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

body {
  color: white;
  background-color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* connect button css */

[data-rk] .ju367v9i {
  background: #fb5b0d !important;
}

[data-rk] .ju367v9i:hover {
  background: #ea580c !important;
}

/* icon in chain */
[data-rk] .ju367v93 {
  width: 18px !important;
}

[data-rk] .ju367v2a {
  height: 18px !important;
}

.ju367v6,
.ju367v8 {
  margin-top: -4px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}

/* icon in balance */

.ju367v8w
{
  height: 18px !important;
  width: 18px !important ;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}



/* tailwind */

.btn-primary {
  @apply text-white rounded-xl bg-orange-700 hover:bg-orange-600 p-3 transition duration-300 text-nowrap;
}

.btn-secondary {
  @apply bg-[#FB5B0D1F] hover:opacity-90 text-orange-500 hover:text-orange-600 p-3 rounded-2xl transition duration-300 text-nowrap;
}