@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: white;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

body {
  color: white;
  background-color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* connect button css */


[data-rk] .ju367v9i {
  background: #Fb5b0d !important;
}

[data-rk] .ju367v9i:hover {
  background: #ea580c !important;
}


